extends layout

block content
  h1= 'Hanabi'
  p find the code repository here: 
    a.text(href='https://github.com/xonnie/hanabi') https://github.com/xonnie/hanabi
  h3 A card game for 2 to 5 players. 
  div
    form(action='/register' method='get')
      input(type='submit' value='register')
      label(for="user_id") as
      input(type="text" name="name" id="user_id")
