body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(7, 23, 139);
  color: rgb(238, 169, 39);
}
.text {
  color: rgb(238, 169, 39);
}
div {
}

a {
  color: #00B7FF;
}

label {
    padding: 5px;
}

.card {
    padding: 3px;
    width: 30px;
    height: 40px;
    border: 1px solid;
    border-radius: 7px;
    box-shadow:10px 10px 10px rgb(146, 114, 54); 
    text-align: center;
    color: black;
}
.knowncard {
    border: 1px solid;
    border-radius: 7px;
    height: 40px;
    text-align: center;
}
.knowncard div {
    position: relative;
    top: 29%;
}
.yourHand[js_turn="true"] td {
    cursor: pointer;
    cursor: hand;
}


.hintButton {
    width: 20px;
    height: 20px;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
    cursor: hand;
}

.error {
    color: red;
}

.yourHand .selected {
    border: 4px solid;
    padding: 0px;
}
.card_option {
    display: block;
    border-radius: 5px;
    margin: 5px;
    border-top-color: lightgray;
    border-left-color: lightgray;
    border-bottom-color: rgb(202, 197, 197);
    border-right-color: rgb(202, 197, 197);
    box-shadow: 10px 10px 10px #888888;
    margin-bottom:0px;
    margin-top:0px;

}

.stock {
    background-color: white;
}

.table {
    height: 100px;
}
.table td {
    width: 50px;
}
.table .card {
    position: relative;
    top: 50px;
    margin-top: -40px;
    margin-left: -30px;
}

.pile td div {
    margin:auto;
    text-align:center;
}
.pile td div div {
    position: relative;
    top: 10px;
}
