body {
  padding-left: 5vw;
  padding-right: 0%;
  padding-top: 5px;
  padding-bottom: 5px;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(7, 23, 139);
  color: rgb(238, 169, 39);
  width: 90vw;
  height: 90vh;
}
.text {
  color: rgb(238, 169, 39);
}
label {
    padding: 5px;
}

.card {
    padding: 3px;
    width: 30px;
    height: 40px;
    border: 1px solid;
    border-radius: 7px;
    box-shadow:10px 10px 10px rgb(146, 114, 54); 
    text-align: center;
    color: black;
}
.knowncard {
    border: 1px solid;
    border-radius: 7px;
    height: 40px;
    text-align: center;
}
.knowncard div {
    position: relative;
    top: 29%;
}
.yourHand[js_turn="true"] td {
    cursor: pointer;
    cursor: hand;
}

.hintButton {
    width: 24px;
    height: 24px;
    border: 2px solid;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    cursor: hand;
}

.error {
    color: red;
}

.yourHand .selected {
    border: 2px solid;
    border-color: black;
    position:relative;
    top:-20px;
    padding: 2px;
}
.card_option {
    display: block;
    border-radius: 5px;
    margin: 0px;
    height: 48px;
    box-shadow:10px 10px 10px rgb(146, 114, 54); 
    margin-bottom:0px;
    margin-top:0px;
    text-align: center;
    padding:6px;
    position relative;
}
.card_option.play_card{
    background-color: rgb(76, 223, 28);
    border-top-style: hidden;
    border-left-style: hidden;
    border-bottom-color: rgb(202, 197, 197);
    border-right-color: rgb(202, 197, 197);
}
.card_option.discard_card{
    margin-left:6px;
    background-color: rgb(254, 186, 107);
    border-top-style: hidden;
    border-left-style: hidden;
    border-bottom-color: rgb(202, 197, 197);
    border-right-color: rgb(202, 197, 197);
}

.stock {
    background-color: white;
}

.table {
    margin-left: 30px;
    height: 100px;
}
.table td {
    width: 50px;
}
.table .card {
    position: relative;
    top: 50px;
    margin-top: -40px;
    margin-left: -30px;
}

.pile td div {
    margin:auto;
    text-align:center;
}
.pile td div div {
    position: relative;
    top: 10px;
}
